body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	-webkit-animation: fadein 4s;
	/* Safari and Chrome */
	-moz-animation: fadein 4s;
	/* Firefox */
	-ms-animation: fadein 4s;
	/* Internet Explorer */
	-o-animation: fadein 4s;
	/* Opera */
	animation: fadein 4s;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

body,
html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#greeting_name {
	display: none;
	font-size: 4rem;
}

#search {
	display: none;
	font-size: 1.5rem;
}

#search_input,
#name_input {
	padding: 1rem;
	background: none;
	border-bottom: white;
	border-bottom: solid #fff 2px;
	border-left: none;
	border-top: none;
	border-right: none;
	font-size: 1.5rem !important;
	color: #fff;
	outline: none;
}

#greetmsg {
	font-size: 2.5rem;
}

#dateTime {
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -45%);
	font-size: 8rem;
	font-weight: 600;
}

#date {
	font-size: 2rem;
}

#setting {
	position: absolute;
	top: 95%;
	right: 2%;
	color: #fff;
}

#weather {
	position: absolute;
	right: 2%;
	top: 2%;
	color: #fff;
	cursor: pointer;
}

#weatherDetail {
	max-width: 100%;
	margin-top: 50px;
	margin-right: 2%;
	color: white;
	width: 28rem;
	display: none;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	float: right;
}

#wdhead {
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border-bottom: solid #fff 2px;
}

.wd {
	font-size: 0.7rem;
	text-align: left;
	width: 19%;
	padding: 0.5rem;
	display: inline-block;
}

#close {
	font-size: 1.5rem;
	padding-right: 0.5rem;
	text-align: right;
	color: white;
	cursor: pointer;
	float: right;
}

#to-do-list {
	position: absolute;
	top: 95%;
	left: 2%;
	color: #fff;
	cursor: pointer;
}

#quote {
	position: absolute;
	margin: auto;
	width: 50%;
	color: #fff;
	font-size: 0.8rem;
	line-height: 0.8rem;
	bottom: 0px;
	left: 25%;
	text-align: center;
}

#to-do-list-detail {
	background-color:rgba(0, 0, 0, 0.7);
	display: block;
	width: 300px;
	bottom: 5.5%;
	left: 2%;
	position: absolute;
}

#to-do-content {
	display: block;
	width: 100%;
}

ul{
	list-style-type: none;
	color: white;
	padding-left: 15px;
	margin-bottom: 0px !important;
}

li{
	display: inline-block;
	padding-left: 5px;
	width: 95%;
}

.finishedTodo{
	text-decoration: line-through;
	color: grey;
}

input[type='checkbox']{
	/*display: inline-block;*/
}

#add{
	background: transparent;
	border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
	outline: none;
	color: white;
	padding: 10px 15px 12px;
	width: 100%;
}


@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 993px) {}

@media only screen and (min-width: 1201px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (min-width: 601px) and (max-width: 992px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 600px) {
	#greetmsg,
	#greeting_name {
		font-size: 1.5rem;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari and Chrome */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}