body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	-webkit-animation: fadein 4s;
	/* Safari and Chrome */
	-moz-animation: fadein 4s;
	/* Firefox */
	-ms-animation: fadein 4s;
	/* Internet Explorer */
	-o-animation: fadein 4s;
	/* Opera */
	animation: fadein 4s;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

body,
html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#greeting_name {
	display: none;
	font-size: 4rem;
}

#search {
	display: none;
	font-size: 1.5rem;
}

#search_input,
#name_input {
	padding: 1rem;
	background: none;
	border-bottom: white;
	border-bottom: solid #fff 2px;
	border-left: none;
	border-top: none;
	border-right: none;
	font-size: 1.5rem !important;
	color: #fff;
	outline: none;
}

#greetmsg {
	font-size: 2.5rem;
}

#dateTime {
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -45%);
	font-size: 8rem;
	font-weight: 600;
}

#date {
	font-size: 2rem;
}

#setting {
	position: absolute;
	top: 95%;
	right: 2%;
	color: #fff;
}

#weather {
	position: absolute;
	right: 2%;
	top: 2%;
	color: #fff;
	cursor: pointer;
}

#to-do-list-detail {
	display: block;
	bottom: 4%;
	left: 2%;
	position: absolute;
}

#weatherDetail {
	max-width: 100%;
	margin-top: 50px;
	margin-right: 2%;
	color: white;
	width: 28rem;
	display: none;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	float: right;
}

#wdhead {
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border-bottom: solid #fff 2px;
}

.wd {
	font-size: 0.7rem;
	text-align: left;
	width: 19%;
	padding: 0.5rem;
	display: inline-block;
}

#close {
	font-size: 1.5rem;
	padding-right: 0.5rem;
	text-align: right;
	color: white;
	cursor: pointer;
	float: right;
}

#to-do-list {
	position: absolute;
	top: 95%;
	left: 2%;
	color: #fff;
}

#quote {
	position: absolute;
	margin: auto;
	width: 50%;
	color: #fff;
	font-size: 0.8rem;
	line-height: 0.8rem;
	bottom: 0px;
	left: 25%;
	text-align: center;
}

.container {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	max-width: 450px;
	width: 100%;
	margin: 100px auto 0;
}

ul {
	margin: 0;
	padding: 0;
}

li * {
	float: left;
}

li,
h3 {
	clear: both;
	list-style: none;
}

input,
button {
	outline: none;
}

button {
	background: none;
	float: right;
	border: 0px;
	color: #888;
	font-size: 15px;
	width: 50px;
	margin: 10px 0 0;
	font-family: Lato, sans-serif;
	cursor: pointer;
}

button:hover {
	color: #fff;
}

/* Heading */

h3,
label[for='new-task'] {
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 2px solid #fff;
	padding: 10px;
	margin: 0;
	text-transform: uppercase;
}

input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	padding: 10px;
	border: 0;
	background: #fff;
	background: transparent;
	font-family: Lato, sans-serif;
	color: #888;
}

input[type="text"]:focus {
	color: #fff;
	/* border-bottom: 3px solid #fff; */
}

/* New Task */

label[for='new-task'] {
	display: block;
	margin: 0 0 20px;
}

input#new-task {
	float: left;
	width: 318px;
}

p>button:hover {
	color: #0FC57C;
}

/* Task list */

li {
	overflow: hidden;
	padding: 0;
	margin: 10px 0;
}

li>input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 15px;
}

li>label {
	font-size: 18px;
	line-height: 40px;
	width: 237px;
	padding: 0 0 0 11px;
	color: #888;
}

li>input[type="text"] {
	width: 226px;
}

li>.delete:hover {
	color: #CF2323;
}

/* Completed */

#completed-tasks label {
	text-decoration: line-through;
	color: #888;
}

/* Edit Task */

ul li input[type=text] {
	display: none;
}

ul li.editMode input[type=text] {
	display: block;
}

ul li.editMode label {
	display: none;
}

@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 993px) {}

@media only screen and (min-width: 1201px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (min-width: 601px) and (max-width: 992px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 600px) {
	#greetmsg,
	#greeting_name {
		font-size: 1.5rem;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari and Chrome */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}